/* Add your own CSS code below */

.heart-span {
  color: #c85308;
}

.main-nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main-article {
  max-width: 50em;
  margin: auto;
  line-height: 30px;
}

@media screen and (min-width: 992px) {
  .hero__title {
    font-size: 70px;
  }
}

@media screen and (min-width: 767px) {
  .site-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .views {
    display: flex;
  }
  .view-list__item {
    margin-left: 20px;
    margin-right: 20px;
  }
  .views__all {
    margin-left: 60%;
  }
}
